$light-bg: #f9f9f9;
$dark-bg: #1e1e1e;
$light-text: #222;
$footer-text: #727070;
$footer-dark-text: #9d9d9d;
$dark-text: #f9f9f9;
$accent: #6e00db;
$purple-dark-accent: #7500eb;
$footer-accent: #eaeaea;
$footer-dark-accent: #3f3f3f;
$dark-accent: #333;
